<title>Home Page</title>
<style>    
    .zg-html,    
    .zg-body {      
        height: 100%;      
        width: 100%;      
        margin: 0;      
        padding: 0;    
    }    
    zing-grid[loading] {      
        height: 613px;    
    }  
</style>
<body class="zg-body">  
    <form action="/api/logout?_method=DELETE" method="POST">
        <button type="submit">Log out</button>
      </form>
    <zing-grid caption="User Screen/Window Size Collection" editor sort static-menu>    
        <zg-colgroup>      
            <zg-column index="Device" header="Device"></zg-column>      
            <zg-column index="Screen Size" header="Screen Size"></zg-column>     
            <zg-column index="Window Size" header="Window Size"></zg-column>      
        </zg-colgroup>    
        <zg-data data=[]></zg-data>  
    </zing-grid>  
    <script nonce="undefined" src="https://cdn.zinggrid.com/zinggrid.min.js"></script>  
    <script>
        let data = document.querySelector('zg-data');
        fetch('http://localhost:3004/api/data/static')
        .then(response => response.json())
        .then(data => {
            var grid = document.querySelector('zg-data');
            let display = [];
            for(let i = 0; i < 20; i++){
                let agent = data[i].userAgent;
                let device = '';
                if(agent.includes("Mac OS")) device = 'MacBook';
                else device = 'Windows Laptop';
                display.push({
                    "Device": device,
                    "Screen Size": `width: ${data[i].screenSize.width}, height: ${data[i].screenSize.height}`,
                    "Window Size": `width: ${data[i].windowSize.width}, height: ${data[i].windowSize.height}`
                });
            }
            grid.data = display;
        });
    </script>
</body>