
 <div id="myChart3" class="chart--container">
      <a href="https://www.zingchart.com/" rel="noopener" class="zc-ref">Powered by ZingChart</a>
  </div>
    
  <script>
    fetch('http://localhost:3004/api/data/static')
      .then(response=>response.json())
      .then(data =>{
        // console.log(([data[0].screenSize.width]))
        var size1639 = 0;
        var size1 = "1639x922"
        var size487 = 0;
        var size2 = "487x247"
        var otherSize = 0;
        for (let i = 0; i < Object.keys(data).length; i++){
          if (data[i].screenSize.width[0] == 1639|| data[i].screenSize.height[0]== 1639){
              size1639 += 1;
          }
          else if (data[i].screenSize.width[0] == 247){
              linux += 1;
          }
          else{
            console.log(data[i].screenSize)
            otherSize += 1;
          }
        }
        var myConfig = {
          "graphset": [{
            "type": "grid",
            "plotarea": {
              "margin": "20 20"
            },
            "options": {
              "header-row": true,
              "col-labels": ["Number of Users", "Screen size"],
            },
            "series": [{
                "values": ["Jon", "Anderson", "January 9, 1957", "United Kingdom"]
              },
            ]
          }]
        };

        zingchart.render({
          id: 'myChart3',
          data: myConfig,
          height: "100%",
          width: "100%"
        });
      })
  </script>