<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>User management</title>
<script src="https://cdn.zinggrid.com/zinggrid.min.js"></script>
</head>
<body>
  <!-- <zing-grid src="https://reporting.jip002.site/api/db/info" editor editor-controls></zing-grid> -->
  <zing-grid src="http://localhost:3004/api/db/info" editor editor-controls></zing-grid>

</body>
</html> 